.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #272822;
    color: aliceblue;
    border-radius: 10px;
    position: sticky;
    top: 10px;
}

.header ul li{
display: inline;
}
.ab{
    display: flex;
    flex-direction: column;
}